* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html,
#root,
#App {
	color: #e2dddd;
	background-color: #e2dddd;
	margin: 0;
	height: 100vh;
	width: 100vw;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: larger;
	user-select: none;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
